<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information System</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header>
        <h1>Student Information System</h1>
        <h2>Student List</h2>
    </header>

    <div class="actions">
        <a href="/students/add" class="btn btn-primary">+ Student</a>
        <a href="/students/scores/add" class="btn btn-primary">+ Score</a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Student Code</th>
            <th>Full Name</th>
            <th>Address</th>
            <th>Subject Name</th>
            <th>Credit</th>
            <th>Score 1</th>
            <th>Score 2</th>
            <th>Grade</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.studentCode}">Student Code</td>
            <td th:text="${student.fullName}">Full Name</td>
            <td th:text="${student.address}">Address</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr th:each="score : ${scores}">
            <td th:text="${score.student != null ? score.student.studentCode : 'N/A'}">Student Code</td>
            <td th:text="${score.student != null ? score.student.fullName : 'N/A'}">Full Name</td>
            <td th:text="${score.student != null ? score.student.address : 'N/A'}">Address</td>
            <td th:text="${score.subject != null ? score.subject.subjectName : 'N/A'}">Subject Name</td>
            <td th:text="${score.subject != null ? score.subject.credit : 'N/A'}">Credit</td>
            <td th:text="${score.score1}">Score 1</td>
            <td th:text="${score.score2}">Score 2</td>
            <td th:text="${score.grade}">Grade</td>
<!--            <td><a th:href="@{/students/add/{studentId}(id=${student.studentId})}" class="btn btn-warning">Edit</a></td>&ndash;&gt;-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
