<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Scores</title>
</head>
<body>
<h1>Scores for <span th:text="${student.fullName}"></span></h1>
<table>
    <thead>
    <tr>
        <th>Subject</th>
        <th>Score 1</th>
        <th>Score 2</th>
        <th>Grade</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="score : ${scores}">
        <td th:text="${score.subject.subjectName}"></td>
        <td th:text="${score.score1}"></td>
        <td th:text="${score.score2}"></td>
        <td th:text="${score.calculateGrade()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
